.logo {
    width: 100px; /* Adjust the width as per your preference */
    height: auto; /* Maintain aspect ratio */
  }
  
  .big-font {
    font-size: 24px; /* Adjust the font size as needed */
  }